section.home_sale
    a(name="sale")
    .container
        h2 Продажа
        .home_sale_wrapper
            .home_sale_nav
                .home_sale_nav_item 1 этаж
                .home_sale_nav_item 2 этаж
                .home_sale_nav_item 3 этаж
                .home_sale_nav_item 4 этаж
                .home_sale_nav_item 5 этаж
                .home_sale_nav_item 6 этаж
                .home_sale_nav_item 7 этаж
                .home_sale_nav_item паркинг
            .home_sale_content
                - const points = require('./points')
                - for (let tab = 0; tab < 8; tab++)
                    .home_sale_content_item
                        img(src=require('./' + tab + '.jpg') alt='slider-image')
                        - console.log(points[tab])
                        - for (let i = 0; i < points[tab].points.length; i++)
                            - const top = points[tab].points[i].top / points[tab].resolution[1] * 100 + '%';
                            - const left = points[tab].points[i].left / points[tab].resolution[0] * 100 + '%';
                            - const width = 29 / points[tab].resolution[1] * 100 + '%';
                            - const height = 66 / points[tab].resolution[0] * 100 + '%';
                            .home_sale_content_item_point(data-popup-target='#popup_sale' style=`top: ${top};
                            left: ${left}; width: ${width}; height: ${height};` data-tab=tab data-item= i)


